  .categoryList {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 20px;
  }
  
  .categoryItem {
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    transition: background-color 0.3s;
    border: 1px solid #0000004D
  }
  
  .categoryItem:hover {
    background-color: #f5f5f5;
  }
  
  .categoryImage {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    border: none;
    background-color: #ddd;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
  