.container {
    text-align: center;
    padding: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  
  .header h2 {
    margin-left: 10px;
    font-size: 24px;
  }
  
  .productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: space-between;
  }
  
  .productItem {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .productItem:hover {
    background-color: #f5f5f5;
  }
  
  .productImage {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .price {
    color: red;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    border: none;
    background-color: #ddd;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
  
  .exploreButton {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  